@charset "UTF-8";
/* CSS Document */

div{margin: 0;}
ul {margin: 0;}


#menu ul{
	background-color: #C39D9D;
	height: 100%;
	text-align: center;
	float:inherit;
	padding: 20px
	
}

#menu ul li{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 18px;
	line-height: 50px;
	color:blueviolet;
	display: inline;
	margin: 0px; padding-left: 40px;			
}

#menu ul li a {color: crimson; text-decoration: none;}
#menu ul li a:hover{
	color: aqua;
}



